[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule ".vim/vim-snippets"]
	path = .vim/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/table-mode"]
	path = .vim/bundle/table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
